/* CSS Rules */
@font-face{font-family: nexa_bold; src:url(nexa_bold.otf);}
@font-face{font-family: nexa_regular; src:url(nexa_regular.otf);}
@font-face{font-family: nexa_light; src:url(nexa_light.otf);}
body{font-family: nexa_bold;margin: 0 auto;font-size: 120%; scroll-behavior: smooth;}

/*Header*/
div.body{}
header{background-color: black; padding: 5px 20px;position: fixed;width: 97%;}
p#title_name{display: inline-block; cursor: pointer;color: white;}
span#name_green{color: #1ac57e;}
div.right_links{font-size: small;float: right;display: flex;padding-top: 5px;font-family: nexa_regular;}/*centre it vertically instead of 5px*/
p#top_links_right{margin-right: 10px;}
p#top_links_right > a{text-decoration: none; color: white;letter-spacing: 0.5px;}

/*Hero*/
div.hero_slider{background-color: transparent; text-align:center; color: white;background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url("background.jpg"); 
    background-size: cover;padding: 140px;}/* try text-align: center  #dcd1aa*/
h2#hero_title{margin: 0;font-weight: bolder;}
p#tagline{width: 70%; font-family: nexa_light;margin-left: auto;margin-right: auto;}
span#hero_button{background-color: transparent; border-top: 2px solid white; padding: 5px 8px;
color: #1ac57e; font-family: nexa_regular;cursor: pointer;}

/*First section*/
div.first_section{background: #f1f1f1;padding: 30px;}
p#first-section{text-align: justify;width: 95%; margin-right: auto; margin-left: auto;text-align-last: center; line-height: 20px; }
h3#history{color: #1ac57e;}

/*Second section*/
div.second_section{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url("brandi.jpg"); background-repeat: no-repeat; background-size: cover;
background-attachment: fixed;text-align: center; padding: 50px 0;}
h3#work_done{color: white;text-align: left;padding-left: 50px;}


/*Third section*/
div.box{box-shadow: inset 0 1px 12px rgba(0,0,0,0.15);border-radius: 20px;background-color:#1ac57e;
    width: 160px;
    height: 160px;
    display: inline-block;
    margin-right: 4%;
margin-top: 5%;}
div.box:hover{transform: scale(1.1);transition: all 1s ease ease-out;}
p.box_text{text-align: center;margin-top: 60px;color: #ffffff;}

/*Fourth Section*/
div.fourth_section{background-color: black; text-align:center; color: white;padding-top: 50px;}/* try text-align: center  #dcd1aa*/
h2#hero_titl{font-weight: bolder;}
p#taglin{text-align:centre;}
span#hero_butto{background-color: transparent; border-top: 2px solid white; padding: 5px 8px;
color: #1ac57e; font-family: nexa_regular;cursor: pointer;text-align:center;}

/*Touch experience*/
p#top_links_right > a:hover{ color:#1ac57e;}
p::selection{color:#1ac57e;}

/*Responsive*/
@media only screen and (max-width:890px){
    body{text-align: center;font-size: 90%;}
    div.hero_slider{padding: 80px;}
    p#top_links_right{display: none;}
    p#tagline{width: 90%;}
    h3#work_done{text-align: center;padding: 0;}
